body {
	/*background-color: #A8D6FF;*/
	margin: 0px;
}

h2 {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: italic;

}

h3 {
	text-align: center;
	/*font-weight: normal;*/
}

h3 {
	text-align: center;
}

/***** ID's *****/
#pic{
	height: 616px;
	background-image: url(StG.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 100%;
  	padding: 0px;
  	padding-top: 20px;

}


#border {
	/* border-style: solid; */
}

#food_type {
	text-align:center;
}

#name {
	text-align: center;
}
#food{
	border-bottom: solid;
}

#AppendBox {
	width: 39%;
	height: 140px;
	margin: auto;
	margin-top: 50px;
	background-color: #EDEDED;
	border-radius: 25px;
}

#theList{
	color: red;
	/*font-family: "Times New Roman", serif;*/
	font-style: italic;
	font-size: 18px;

}


/**** classes *****/
#wrapper{
	margin: auto;
	width: 35%;
	background-color:#ffffff;
	margin-top: 15px;
	padding: 20px;
	border-radius: 25px;
	background-color: #EDEDED;
}

.title {
	font-size: 50px;
	padding-left: 15px;
	border-bottom: 3px solid;
	margin-bottom: 0px;
	font-weight: bolder;
}








